#icon_sample_area {
    background: coral;
    width: 500px;
    height: 150px;
    margin: 100px auto;
}

#record_area {
    background: rgb(238, 252, 201);
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

#record_table {
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}

.record_table_theadth {
    border: 1px solid rgb(190, 190, 190);
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#next_car_btn {
    margin: 20px auto;
    width: 80%;
    height: 40px;
}


/* 轮次结果选择弹窗 */

#result_float_menu {
    display: flex;
    justify-content: center;
}

#result_float_menu_hidden {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.3;
    display: none;
}

#result_float_menu_box {
    color: #fff;
    width: 400px;
    height: 200px;
    background-color: #40527e;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    cursor: move;
}

.result_btns {
    margin: 5px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: #02a0a0;
}

.player_support_icon_icon {
    width: 25px;
    height: 25px;
    margin: auto;
}

.player_task_member_icon {
    width: 15px;
    height: 15px;
    margin: auto;
}

#first_captain_float_menu {
    display: flex;
    justify-content: center;
}

#first_captain_float_menu_hidden {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.3;
    display: none;
}

#first_captain_float_menu_box {
    color: #fff;
    width: 400px;
    height: 200px;
    background-color: #fce7cd;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    cursor: move;
}